<div class="container p-5 align-items-center">
    <h2 class="text-center">Emoji-Mart example component</h2>
    <div class="container  m-5 border rounded m-5 p-4">

        <div *ngFor="let message of messageArr" class="m-4">
            {{message}}
        </div>
        
        <div class="row mt-4 ">
            <div class="col-md-10 input-group">
                         
                    <input type="text" class="form-control" placeholder="@message" [(ngModel)]="message">
                    
                    <span class="input-group-addon">
                            <button
                            type="button"
                            class="toggle-emoji"
                            (click)="toggleEmojiPicker()"
                            >
                          </button>
                    </span> 
                    
                    <span class="col-md-2 input-group-addon">
                            <emoji-mart class="emoji-mart" set="apple" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" title="Pick your emoji…"></emoji-mart>
                            <button class="send-message" type="button" (click)="onSend()"></button>
                    </span>
            </div>
            
        </div>
        
    </div>
   
</div>

